{% extends 'base.html' %}

{% block content %}

<h4>BATTLE!</h4>
<br>
{% for u in users %}

<div class="card" style="width: 18rem;">
  <img src="https://assets.pokemon.com/assets/cms2/img/watch-pokemon-tv/seasons/season15/season15_ep29_ss01.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ u.username }}</h5>
    <p class="card-text">
      <a href="{{ url_for('poke.finduser', user_id = u.id ) }}" class="card-link btn btn-danger">Battle User</a>
    </p>
  </div>
</div>
{% endfor %}
{% endblock %}