{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto" style="width: 400px;">
    <img src="https://wallpaperaccess.com/full/40677.jpg" class="img-fluid" alt="...">
  </div>
  
    <form class="container" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username(class='form-control', placeholder='username', autocomplete='off') }}
        {{ form.first_name(class = 'form-control', placeholder = 'firstname', autocomplete = 'off') }}
        {{ form.last_name(class = 'form-control', placeholder = 'lastname', autocomplete = 'off') }}
        {{ form.email(class='form-control', placeholder='email', autocomplete='off') }}
        {{ form.password(class='form-control', placeholder='password', autocomplete='off') }}
        {{ form.confirm_password(class='form-control', placeholder='confirm password', autocomplete='off') }}
        {{ form.submit(class='btn btn-primary') }}
    </form>
{% endblock %}

