<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Title</title>
</head>
<body>

  {% include 'navbar.html' %}

      <div class="container mx-auto" style="width: 400px;">
        <img src="https://i.pinimg.com/originals/f8/29/be/f829bed61f75627eea111dfde089fe2c.png" class="img-fluid" alt="...">
      </div>
    <form class="container" method="POST">
        {{ form.hidden_tag() }}

        {{ form.name(class='form-control', placeholder='Pokemon name', autocomplete='off') }}
        {{ form.submit(class='btn btn-success') }}   
    </form>

    {% if pokemon %} 

    <div class="card" style="width: 18rem;">
        <img src="{{ pokemon.img_url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ pokemon.name }}</h5>
          <p class="card-text">
            <b>Ability: {{ pokemon.ability }}</b>
            <ul>
                <li>HP: {{ pokemon.hp }}</li>
                <li>ATK: {{ pokemon.attack }}</li>
                <li>DEF: {{ pokemon.defense }}</li>
            </ul>
          </p>
        </div>
      </div>

    {% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>